[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "*"
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
stima-scraper = "*"

[dev-packages]

[requires]
python_version = "3.10"
